{% extends 'optifolio/main.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height:100%;">
    <div class="kontenertrans" style="border: 3px solid lightgray;">
        <article class="card-body mx-auto" style="max-width: 560px;">
            <div class="d-flex justify-content-center align-items-center" style="margin-top:40px;">
                <p class="text-center" style="font-size:36px;font-weight:bold;">Czy na pewno chcesz usunąć transakcję akcji "{{item}}"?</p>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="margin-top:60px;">
                <form action="{% url 'delete_transaction' pk item.visdata_id %}" method="POST">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="anultrans mr-4 d-flex justify-content-center align-items-center" href="{% url 'vispage' pk %}" style="text-decoration:none;">Nie</a>
                        <input class="savetransaction mr-4 d-flex justify-content-center align-items-center ml-5" type="submit" value="Tak" name="Tak"/>
                    </div>
                </form>
            </div>
        </article>
    </div>
</div>
{% endblock %}