<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Optifolio</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="..\static\css\main.css">
<link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
</head>

{% load static %}
<style>
  .hello-msg{
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 20px;
  }
</style>

<nav class="sidebar">
    <div class="sidebar-header">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="lightgrey" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
      </svg><span class="opt">Optifolio</span></div>
    <div id="navbarNav">
      <ul class="list-unstyled components">
        {% if request.user.is_authenticated %}
        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'summary' %}">Portfolia</a>
        </li>
        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'visualisationpage' %}">Wizualizacja</a>
        </li>
        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'account' %}">Ustawienia</a>
        </li>
        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'logout' %}">Wyloguj się</a>
        </li>
        {% else %}
        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'templatevisualisationpage' %}">Przykładowa wizualizacja</a>
        </li>
        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'infopage' %}">Info</a>
        </li>
        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'logout' %}">Wyloguj się</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </nav>
</div>
</html>