<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Optifolio</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="..\static\css\main.css">
<link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
</head>

{% load static %}
<style>
  .hello-msg{
    font-size: 18px;
    color: #FFFFFF;
    margin-right: 20px;
  }
</style>

<nav class="sidebar">
    <div class="sidebar-header"><img src = "{% static 'images/logo_P1OydgH.png'%}"><span class="opt">Optifolio</span></div>
    <div id="navbarNav">
      <ul class="list-unstyled components">
        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'summary' %}">Portfolia</a>

        </li>
        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'visualisationpage' %}">Wizualizacja</a>
        </li>

        <li class="active">
          <a class="nav-link sideprzycisk d-flex align-items-center" href="{% url 'account' %}">Ustawienia</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="container-fluid">
      <span class="float-right" style="padding-top:30px;padding-left:5px;padding-right:70px;"><a href="{% url 'logout' %}" style="text-decoration:none;color:black;">Logout</a></span>
    <span class="float-right" style="color:black;padding-top:30px;">Hello, {{request.user}}</span>
  </div>

  {% block content %}
<br>
<div class="container-fluid" style="margin-top:150px;position:fixed;margin-left:260px;">
<table  class="table table-bordered" style="max-width:800px;">
    <thead class="thead-light">
      <tr class="d-flex">
        <th class="text-center" style="width:5%;">Id</th>
        <th class="col text-center">Nazwa</th>
        <th class="col text-center">Data</th>
        <th class="col text-center">Godzina</th>
        <th class="col text-center">Liczba akcji</th>
        <th class="col text-center">Kwota</th>
        <th class="col text-center">Opłata</th>
      </tr>
    </thead>
    <tbody>
      {% for temp in visdata %}
      <tr>
        <td>{{ temp.visdata_id }}</td>
        <th scope="row">{{ temp.title }}</th>
        <td>{{ temp.date }}</td>
        <td>{{ temp.hour }}</td>
        <td>{{ temp.shares_number }}</td>
        <td>{{ temp.course }}</td>
        <td>{{ temp.fare }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}

<div class="container" style="position:fixed;margin-left:1300px;margin-top:500px;">
<div>
<img id="image" src="../static/images/graf.PNG" style="width:200px">
</div>
<div style="margin-top:150px;">
<left>
<button class="wykres szarak" onclick="document.getElementById('image').src='../static/images/graf.PNG'">Sektory</button>
<button class="wykres szarak" onclick="document.getElementById('image').src='../static/images/cat6.jpg'">Firmy</button>
<button class="wykres szarak" onclick="document.getElementById('image').src='../static/images/graf.PNG'">Coś tam</button>
</div>
</div>
  </html>