{% extends 'optifolio/main.html' %}
{% load static %}
{% block content %}

<p>yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy OBECNY STAN PORTFOLIO.</p>

<div class="container" style="margin-left:250px;">
    <table class="table table-bordered" style="max-width:700px;">
        <thead>
            <tr>
                <th class="text-center">Symbol</th>
                <th class="text-center">Liczba</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in portfolio_current_state.items %}
            <tr>
                <th class=" text-center">{{ key }}</th>
                <th class=" text-center">{{ value }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container" style="margin-left:250px;">
    <a class="btn btn-sm btn-info" href="{% url 'portfolio_state' current_portfolio.portfolio_id %}">Wroc</a>
</div>

{% endblock %}