<html>
    <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
    
    </head>
    <body class="log">
    <div class="d-flex justify-content-center align-items-center" style="height:100%;">
        <div class="kontener d-flex justify-content-center align-items-center">
            <h3>Link do resetu hasła został wysłany</h3>

            <p>Email został wysłany, wkrótce będziesz się mógł zalogować.</p>
            
            <p>Sprawdź czy wpisałeś dobry adres email, lub zobacz folder spam.</p>
        </div>
    </div>
    </body>
    </html>