<html>
    <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
    </head>
        <body class="log">
          <div class="d-flex justify-content-center align-items-center" style="height:100%;">
            <div class="kontenerreset">
              <button type="button" class="close" aria-label="Close" style="margin-right:30px;margin-top:20px;">
                <span aria-hidden="true"><a href="{% url 'homepage' %}" style="text-decoration:none;">&times;</a></span>
              </button>
              <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center" style="font-family:Mulish;font-weight:bold;font-size:36px;">Hasło zresetowane!</h4>
                <div class="d-flex justify-content-center align-items-center mt-4">
                  <p class="text-justify">Hasło zostało zresetowane. Możesz się zalogować!</p>
                  <a href="/">Zaloguj się</a>
                </div>
              </article>
            </div>
          </div>
        </body>
      </html>