<html>
    <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
    
    </head>
    <body class="log">
    <div class="d-flex justify-content-center align-items-center" style="height:100%;">
        <div class="kontener d-flex justify-content-center align-items-center">
			<h3>Resetuj hasło</h3>

			<p>Zapomniałeś hasła? Wpisz swój adress email poniżej i wyślemy instrukcje potrzebne do resetu!</p>
			
			<form method="post">
			
				{% csrf_token %}
				{{form}}
				<input type="Submit" name="Send email">
				
			</form>
			
        </div>
    </div>
    </body>
    </html>