{% extends 'optifolio/main.html' %}
{% load static %}
{% block content %}
<div class="container navadj">
  <div class="container-fluid">
    <p class="text-md-left ml-1" style="font-size:36px;font-weight:bold;">Obecny stan portfolio</p>
  </div>
</div> 
<div class="container navadj">
  <div class="tabelkakontener p-3 mt-3 ml-4" style="max-width:1000px;">
    <div class="table-wrapper-scroll-y scrollbar">
    <table  class="table table-bordered" style="max-width:1000px;">
        <thead>
            <tr>
                <th class="text-center">Symbol</th>
                <th class="text-center">Liczba</th>
            </tr>
        </thead>
        <tbody>
          {% for key, value in portfolio_current_state.items %}
            <tr>
                <th class=" text-center">{{ key }}</th>
                <th class=" text-center">{{ value }}</th>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>
</div>
<div class="container navadj mt-3">
  <div class="container-fluid">
    <p class="text-md-left ml-1" style="font-size:36px;font-weight:bold;">Lista transakcji</p>
  </div>
</div>
<div class="container navadj">
  <div class="tabelkakontener p-3 mt-3 ml-4" style="max-width:1000px;max-height:600px;">
    <div class="table-wrapper-scroll-y scrollbar">
    <table  class="table table-bordered" style="max-width:1000px;max-height:600px;">
        <thead>
            <tr>
                <th class="text-center">Nazwa</th>
                <th class="text-center">Symbol</th>
                <th class="text-center">Data</th>
                <th class=" text-center">Godzina</th>
                <th class=" text-center">Kupno/Sprzedaż</th>
                <th class=" text-center">Liczba akcji</th>
                <th class=" text-center">Kwota</th>
                <th class=" text-center">Opłata</th>
            </tr>
        </thead>
        <tbody>
          {% for tr in visdata %}
            <tr>
                <th class=" text-center">{{ tr.title }}</th>
                <th class=" text-center">{{ tr.title2 }}</th>
                <td class=" text-center">{{ tr.date }}</td>
                <td class=" text-center">{{ tr.hour }}</td>
                <td class=" text-center">{{ tr.buy_sell }}</td>
                <td class=" text-center">{{ tr.shares_number }}</td>
                <td class=" text-center">{{ tr.course }}</td>
                <td class=" text-center">{{ tr.fare }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
  </div>
</div>
<div class="container navadj mt-3">
  <div class="d-flex items-align-center justify-content-center" style="width:1000px;">
    <a class="anultrans d-flex justify-content-center align-items-center" href="{% url 'vispage' current_portfolio.portfolio_id %}" style="text-decoration:none;">Lista transakcji</a>
    <a class="savetransaction d-flex justify-content-center align-items-center ml-5" href="{% url 'optimize' current_portfolio.portfolio_id %}" style="text-decoration:none;">Optymalizuj</a>
  </div>
</div>

{% endblock %}