{% extends 'optifolio/main.html' %}
{% load static %}
{% block content %}

<p>Jakikolwiek tekst który będzie wystarczająco długi żeby przebić się przez navbar.</p>

<p>Czy na pewno chcesz usunąć portfolio bla bla bla"{{visdata}}"?</p>

<div class="container" style="margin-left:250px;">
  <table  class="table table-bordered" style="max-width:700px;">
      <thead>
          <tr>
              <th class="text-center">Nazwa</th>
              <th class="text-center">Data</th>
              <th class=" text-center">Godzina</th>
              <th class=" text-center">Liczba akcji</th>
              <th class=" text-center">Kwota</th>
              <th class=" text-center">Opłata</th>
          </tr>
      </thead>
      <tbody>
        {% for tr in visdata %}
          <tr>
              <th class=" text-center">{{ tr.title }}</th>
              <td class=" text-center">{{ tr.date }}</td>
              <td class=" text-center">{{ tr.hour }}</td>
              <td class=" text-center">{{ tr.shares_number }}</td>
              <td class=" text-center">{{ tr.course }}</td>
              <td class=" text-center">{{ tr.fare }}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}