{% extends 'optifolio/main.html' %}
{% block content  %}
<br>

<div class="float-right px-5">
<button type="button" class="btn btn-default btn-sm">
  Log out
</button>
</div>
<div class="container" style="margin-left:230px;">
    <div class="container-fluid">
        <p class="text-md-left" style="font-size:36px;font-weight:bold;">Twoje portfolia</p>
    </div>
</div>
<div class="container" style="margin-left:230px;">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <div id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><div class="przyciskportf d-flex justify-content-center align-items-center">Aktualne</div></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><div class="przyciskportf1 d-flex justify-content-center align-items-center">Historyczne</div></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><div class="przyciskportf1 d-flex justify-content-center align-items-center">Przykładowe</div></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><div class="przyciskportf1 d-flex justify-content-center align-items-center">Dodaj</div></button></a>
                    </li>                
                </ul>

            </div>
        </div>
    </nav>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Zmiany</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="example1">Example1</label>
                <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="x">
            </div>
            <div class="form-group">
                <label for="example2">Example2</label>
                <input type="text" class="form-control" placeholder="x">
            </div>
            <div class="form-group">
                <label for="example2">Example2</label>
                <input type="text" class="form-control" placeholder="x">
            </div>
            <div class="form-group">
                <label for="example2">Example2</label>
                <input type="text" class="form-control" placeholder="x">
            </div>
            <div class="form-group">
                <label for="example2">Example2</label>
                <input type="text" class="form-control" placeholder="x">
            </div>
            <div class="form-group">
                <label for="example2">Example2</label>
                <input type="text" class="form-control" placeholder="x">
            </div>
            <div class="form-group">
                <label for="example2">Example2</label>
                <input type="text" class="form-control" placeholder="x">
            </div>
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary">Zapisz zmiany</button>
      </div>
    </div>
  </div>
</div>
<div class="container container-max-width-md" style="margin-left:230px;">
    <div class="row">
        <div class="">
            <div class="col-md">
                <div class="card text-center text-black mb-3" id="shares-num">
                    <div class="card-header">
                        <h5 class="">Liczba akcji</h5>
                    </div>
                    <div class="">
                        <h4 class="card-title">{{shares_num}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-black mb-3 float-left" id="profit-earned">
                    <div class="card-header">
                        <h5 class="card-title">Zysk</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{profit_earned}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col float-left">
            <div class="col-md">
                <div class="card text-center text-black float-left mb-3" id="comp-number">
                    <div class="card-header">
                        <h5 class="card-title">Liczba firm</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{comp_number}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md float-left">
                <div class="card text-center text-black float-left mb-3" id="smth-4">
                    <div class="card-header">
                        <h5 class="card-title">Na buy</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{to_buy_percentage}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md float-left">
        <div class="card-header">
            <h5 class="card-title">Data ostatniej modyfikacji</h5>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{mod_date}}</h3>
        </div>
        </div>
    </div>

</div>


{% endblock %}