{% extends 'optifolio/main.html' %}

{% load static %}
{% block content  %}
<br>

<div class="float-right px-5">
<button type="button" class="btn btn-default btn-sm">
  Log out
</button>
</div>
<div class="container" style="margin-left:230px;">
    <div class="container-fluid">
        <p class="text-md-left" style="font-size:36px;font-weight:bold;">Twoje portfolia</p>
    </div>
</div>
<div class="container" style="margin-left:230px;">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <div id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><div class="przyciskportf d-flex justify-content-center align-items-center">Aktualne</div></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><div class="przyciskportf1 d-flex justify-content-center align-items-center">Historyczne</div></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><div class="przyciskportf1 d-flex justify-content-center align-items-center">Przykładowe</div></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><div class="przyciskportf1 d-flex justify-content-center align-items-center">Dodaj</div></button></a>
                    </li>                
                </ul>

            </div>
        </div>
    </nav>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Zmiany</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
        <button type="button" class="btn btn-primary">Zapisz zmiany</button>
      </div>
    </div>
  </div>
</div>
<div class="container " style="margin-left:230px;">
    <div class="kafelek justify-content-center align-items-center">
        <div class="grafika"> </div>
        <div class="sumnapis d-flex justify-content-center align-items-center mt-3">Portfolio nr. 1</div>
        <div class="cztery containfer-fluid mt-3">
        <table class="d-flex justify-content-center align-items-center">
            <tr>
               <td class="p-3"> <div class="shadow"><div class="kaf d-flex justify-content-center align-items-center"><p class="dane">{{shares_num}}</p><br> <p>Liczba akcji</p> </div></div></td>
               <td class="p-3"> <div class="shadow"><div class="kaf d-flex justify-content-center align-items-center"><p class="dane">{{profit_earned}}</p><br><p> Zysk</p> </div></td>
            </tr>
            <tr>
               <td class="p-3"> <div class="shadow"><div class="kaf d-flex justify-content-center align-items-center"><p class="dane">{{comp_number}}</p><br><br> <p>Liczba firm</p> </div></div></td>
               <td class="p-3"> <div class="shadow"><div class="kaf d-flex justify-content-center align-items-center"><p class="dane">{{to_buy_percentage}}</p><br><br> <p>Na buy</p> </div></div></td>
            </tr>
        </table>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3">
            <div class="navbutthead mr-4 d-flex justify-content-center align-items-center">Optymalizuj</div>
            <div class="navbutt mr-4 d-flex justify-content-center align-items-center">Edytuj</div>
            <div class="navbutt d-flex justify-content-center align-items-center">Usuń</div>
        </div>
        <div class="summfoot d-flex justify-content-center align-items-center p-4">Ostatnia aktualizacja {{mod_date}}</div>
    </div>
</div>


{% endblock %}