{% extends 'optifolio/main.html' %}

{% load static %}
{% block content  %}
<br>
<div class="container navadj">
    <div class="container-fluid">
        <p class="text-md-left ml-1" style="font-size:36px;font-weight:bold;">Twoje portfolia</p>
    </div>
</div>
<div class="container navadj">
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
            <div id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><div class="przyciskportf d-flex justify-content-center align-items-center">Aktualne</div></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><div class="przyciskportf1 d-flex justify-content-center align-items-center">Historyczne</div></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><div class="przyciskportf1 d-flex justify-content-center align-items-center">Przykładowe</div></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><button class="przyciskportf1" data-toggle="modal" data-target="#sumModal"><div class="d-flex justify-content-center align-items-center">Dodaj portfolio</div></button></a>
                    </li>                
                </ul>

            </div>
        </div>
    </nav>
</div>
<div class="modal fade" id="sumModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content d-flex justify-content-center align-items-center" style=" border-radius: 25px;
    background-color: white;
    height: 200px;
    width: 500px;">

      <div>
            
          <form action="/summary/#" method="POST">
              {% csrf_token %}
              <div style="width:100%;" class="d-flex justify-content-center align-items-center"><span class ="mr-2 pb-1" style="font-size:26px;">Nazwa portfolio:</span>{{ form.portfolio_title }}</div>
              {{ form.p_shares_num_sum.as_hidden }}
              {{ form.p_last_mod_date.as_hidden }}
              {{ form.p_comp_num_sum.as_hidden }}
              {{ form.p_to_buy_percentage.as_hidden }}
              {{ form.p_profit_earned.as_hidden }}
              
              <div class="d-flex justify-content-center align-items-center mt-3">
                <button type="button" class="summodalbut2 d-flex justify-content-center align-items-center mr-4" data-dismiss="modal">Zamknij</button>
                <button type="submit" class="summodalbut d-flex justify-content-center align-items-center" value="Zapisz zmiany" href="{% url 'summary' %}">Zapisz zmiany</button>
            </div>
                <div class="summfoot d-flex justify-content-center align-items-center p-4">Info: Mozna mieć maksymalnie 3 portfolia</div>
          </form>

      </div>
    </div>
  </div>
</div>
<div class="container navadj">
{% for temp in all_user_portfolio %}

    <div class="kafelek justify-content-center align-items-center ml-4 mt-3">
        <div class="grafika"> </div>
        <div class="sumnapis d-flex justify-content-center align-items-center mt-3">{{ temp.portfolio_title }}</div>
        <div class="cztery containfer-fluid mt-3">
        <table class="d-flex justify-content-center align-items-center">
            <tr>
               <td class="p-3">
                   <div class="shadow">
                       <div class="kaf d-flex justify-content-center align-items-center">
                       <table>
                        <tr>
                            <td class="d-flex justify-content-center align-items-center">
                                <p class="dane">{{temp.p_shares_num_sum}}</p>
                            </td>
                         </tr>
                         <tr>
                             <td class="d-flex justify-content-center align-items-center">
                                 <p>Liczba akcji</p>
                             </td>
                         </tr>
                     </table>
                        </div>
                    </div>
            </td>
               <td class="p-3">
                   <div class="shadow">
                       <div class="kaf d-flex justify-content-center align-items-center">
                           <table>
                            <tr>
                                <td class="d-flex justify-content-center align-items-center">
                                    <p class="dane">{{temp.p_profit_earned}}</p>
                                </td>
                             </tr>
                             <tr>
                                 <td class="d-flex justify-content-center align-items-center">
                                     <p>Zysk</p>
                                 </td>
                             </tr>
                         </table>
                       </div>
                    </div>
                </td>
            </tr>
            <tr>
               <td class="p-3"> 
                   <div class="shadow">
                       <div class="kaf d-flex justify-content-center align-items-center">
                        <table>
                            <tr>
                                <td class="d-flex justify-content-center align-items-center">
                                    <p class="dane">{{temp.p_comp_num_sum}}</p> 
                                </td>
                             </tr>
                             <tr>
                                 <td class="d-flex justify-content-center align-items-center">
                                     <p>Liczba firm</p>
                                 </td>
                             </tr>
                         </table>
                        </div>
                    </div>
                </td>
               <td class="p-3"> 
                   <div class="shadow">
                       <div class="kaf d-flex justify-content-center align-items-center">
                           <table>
                               <tr>
                                   <td class="d-flex justify-content-center align-items-center">
                                       <p class="dane">{{temp.p_to_buy_percentage}}</p>
                                   </td>
                                </tr>
                                <tr>
                                    <td class="d-flex justify-content-center align-items-center">
                                        <p>Na buy</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-3">
            <a class="navbutthead mr-4 d-flex justify-content-center align-items-center" href="{% url 'optimize' temp.portfolio_id %}" style="text-decoration:none;">Optymalizuj</a>
            <a class="navbutt mr-4 d-flex justify-content-center align-items-center" href="{% url 'vispage' temp.portfolio_id %}" style="text-decoration:none;">Wyświetl</a>
            <a class="navbutt d-flex justify-content-center align-items-center" href="{% url 'delete_portfolio' temp.portfolio_id %}">Usuń</a>
            
        </div>
        <div class="summfoot d-flex justify-content-center align-items-center p-4">Ostatnia aktualizacja {{temp.p_last_mod_date}}</div>
    </div>
    <div class="modal fade" id="usunModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content d-flex justify-content-center align-items-center" style=" border-radius: 25px;
          background-color: white;
          height: 200px;
          width: 500px;">
            <div>
                <p>Czy na pewno chcesz usunąć portfolio "{{item}}"?</p>

                <form action="/summary/#" method="POST">
                    {% csrf_token %}
                
                    <a href="{% url 'summary' %}">Nie</a>
                    <input type="submit" value="Tak" name="Tak" />
                
                </form>
      
            </div>
          </div>
        </div>
    </div>

{% endfor %}
</div>
{% endblock %}