{% extends 'optifolio/main.html' %}
{% load static %}
{% block content %}
<div class="container navadj">
<form action="" method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}
    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Nazwa spółki</label>
        {{ form.title }}
        {{ form.title.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.title2.id_for_label }}">Symbol spółki</label>
        {{ form.title2 }}
        {{ form.title2.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.buy_sell.id_for_label }}"></label>
        {{ form.buy_sell }}
        {{ form.buy_sell.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.shares_number.id_for_label }}">Liczba akcji</label>
        {{ form.shares_number }}
        {{ form.shares_number.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.course.id_for_label }}">Kurs</label>
        {{ form.course }}
        {{ form.course.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.fare.id_for_label }}">Opłata transakcyjna</label>
        {{ form.fare }}
        {{ form.fare.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.date.id_for_label }}">Data</label>
        {{ form.date }}
        {{ form.date.errors }}
    </div>
    <div class="form-group">
        <label for="{{ form.hour.id_for_label }}">Godzina</label>
        {{ form.hour }}
        {{ form.hour.errors }}
    </div>
    <!--Wstawiłam tu pozostałe pola bo bez nich edycja nie działa poprawnie,
        ale jako ukryte, tak aby użytkownik nie mógł ich edytować.-->
    {{ form.user_name.as_hidden }}
    {{ form.title2.as_hidden }}
    {{ form.portfolio_name.as_hidden }}
    <a href="{% url 'vispage' vispk %}">Anuluj</a>
    <button type="submit" value="Zapisz zmiany" href="{% url 'vispage' vispk %}" class="btn btn-primary">Zapisz zmiany</button>
</form>
</div>

{% endblock %}
